
body{background-color:grey;padding:25px;font-size:110%;}
h1{color:red;padding:15px;background:lightgrey;width:fit-content;font-size:95%;align:center;}
hr{color:red;size:4;width:50%;}
img0{height:300;width:440;border:6;align:top;}
img1{height:440;width:300;border:6;align:right}
img2{height:440;width:280;border:6;align:left}
img3{height:440;width:300;border:6;align:right}
img4{height:300;width:330;border:6;align:left}
img5{height:500;border:6;align:right}
casvalp{color:maroon;size:8;font-weight:bold;}
charp{color:pink;size:8;font-weight:bold;}
quattrop{color:gold;size:8;font-weight:bold;}
judaup{color:lightblue;size:8;font-weight:bold;}
greystokep{color:white;size:8;ont-weight:bold;}
harop{color:limegreen;size:8;font-weight:bold;}
h3{color:green;size:6;text-decoration:underline;}
a{color:blue;size:6;text-decoration:underline;}
